@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "supermarket";
  src: local("supermarket"),
    url("/src/assets/font/supermarket.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "supermarket", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
